@font-face {
  font-family: "whitney";
  src: url("./whitney/whitney-medium.otf") format("opentype"),
}

html, body {
  overflow: hidden!important;
  height: 100%;

}

#root {
  height: 100%;
}


body {
  background-color: #2f3136;
  color: #444;
  width: 100%;
  height: 100%;
  font-family: whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  color: #2f3136;
background: transparent;
border-bottom-color: #f0f0f0;
margin-top: 12px;
padding-left: 4px;
padding-right: 4px;
border-radius: 0;
border-width: 0 0 2px;
border-bottom-style: solid;
font-size: 16px;
font-weight: 500;
width: 100%;
padding: 2px;
    height: 40px;
        outline: 0;
        margin-bottom: 20px;
}

label {
  font-size: 11px;
font-weight: 700;
text-transform: uppercase;
display: block;
margin: 0;
padding: 0;
border: 0;
    color: #87909c;
}

.align-right {
  text-align: right;
}

button {
  color: #fff;
    background-color: #7289da;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 6px;
}

button:hover {
  cursor: pointer;
}

.App {
  height: 100%;
}

.modal-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.modal {
  width: 60%;
  min-height: 50%;
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.modal-content {
  color: #99aab5;
}

.modal-content .description {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
}

.modal-header {
  color: #7289da;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  height: 18px;
  display: flex;
  padding: 5px;
}

.header .logo {
  width: 98%;
  color: #72767d;
}

.header .action .fa-times:hover {
  cursor: pointer;
}

.servers {
  width: 100%;
  text-align: center;
  margin: auto;
}

.server {
  width: 48px;
  height: 48px;
  margin: auto;
  margin-bottom: 15px;
}

.server.add {
  background-color: #36393f;
  border-radius: 26px;
}

.server.add svg {
  font-size: 1.2em;
  margin-top: 13px;
  color: white;
}

.server:hover {
  cursor: pointer;
}

.server img {
  width: 100%;
  height: 100%;
}

nav {
  width: 72px;
  float: left;
}

.wrap {
  height: 100%;
  display: grid;
  border-radius: 8px 0 0;
  background-color: #36393f;
  overflow-y: auto;
}

.wrap .header-content {
  height: 48px;
    padding: 0 8px;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    color: #dcddde;
}

.wrap .header-content {
  line-height: 40px;
}

.wrap .wrap-content:before {
  content: "";
    display: block;
    left: 72px;
    right: 0;
    height: 1px;
    z-index: 1;
    pointer-events: none;
    -moz-box-shadow: 0px 1px 1px 0px rgba(4, 4, 5, 0.2);
-webkit-box-shadow: 0px 1px 1px 0px rgba(4, 4, 5, 0.2);
-o-box-shadow: 0px 1px 1px 0px rgba(4, 4, 5, 0.2);
box-shadow: 0px 1px 1px 0px rgba(4, 4, 5, 0.2);
filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(4, 4, 5, 0.2), Direction=180, Strength=1);
}

.task {
  margin: 10px;
  background: #202225;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
  color: white;
}

.task:nth-child(odd) {
  grid-column: 1;
}

.task:nth-child(even) {
  grid-column: 2;
}

.task-header {
  padding: 0.8em 0.8em;
}

.task-header .task-title {
  margin: auto 0;
}

.task-header .task-title > div {
  font-size: 20px;
  font-weight: 300;
}

.point {
  margin: 0.2em 0;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #2f3136;
}

.point .point-container {
  display: flex;
  flex-direction: row;
  padding: 0.6em 0;
}

.point .point-container .point-valid {
  margin: auto 0;
  padding-left: 0.2em;
  display: flex;
  flex-direction: row;
}

.point .point-container .point-content {
  width: 100%;
  max-width: 90%;
  margin: auto 0;
  padding: 0 1em;
}
