@font-face {
  font-family: "whitney";
  src: url("./whitney/whitney-medium.otf") format("opentype"),
}

html, body {
  overflow: hidden!important;
  height: 100%;

}

#root {
  height: 100%;
}

.dropdown-toggle {
  height: 100%;
}

.wpeo-dropdown {
    position: relative;
    display: inline-block;
}

.wpeo-dropdown.dropdown-active .dropdown-content {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.wpeo-dropdown .dropdown-content {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: absolute;
    background: #fff;
    z-index: 99;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
    width: 220px;
    padding: 0.6em;
}

.wpeo-dropdown .dropdown-content .dropdown-item {
    padding: 0.6em;
    background: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.wpeo-dropdown .dropdown-item {
    display: block;
    color: rgba(0,0,0,0.7);
    text-decoration: none;
}

body {
  background-color: #2f3136;
  color: #444;
  width: 100%;
  height: 100%;
  font-family: whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  color: #2f3136;
  background: transparent;
  border-bottom-color: #f0f0f0;
  margin-top: 12px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0;
  border-width: 0 0 2px;
  border-bottom-style: solid;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 2px;
  height: 40px;
  outline: 0;
  margin-bottom: 20px;
}

label {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
    color: #87909c;
}

.align-right {
  text-align: right;
}

button {
  color: #fff;
  background-color: #7289da;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 6px 10px;
  margin-right: 10px;
}

button.red {
  background-color: #f04747;
}

button:hover {
  cursor: pointer;
}

.App {
  height: 100%;
}

.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.modal {
  width: 100%;
  max-width: 50%;
  min-height: 50%;
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.w300 {
  max-width: 300px;
  min-height: 180px;
  max-height: 180px;
}

.modal-content {
  color: #99aab5;
}

.modal-content .description {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
}

.modal-header {
  color: #7289da;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  height: 18px;
  display: flex;
  padding: 5px;
  -webkit-app-region: drag;
}

.header ul {
  display: flex;
  -webkit-app-region: none;
}

.header .logo {
  width: 98%;
  color: #72767d;
}

.header .action svg {
  margin-left: 10px;
  margin-right: 5px;
}

.header .action svg:hover {
  cursor: pointer;
}

.servers {
  width: 100%;
  text-align: center;
  margin: auto;
}

.server {
  width: 48px;
  height: 48px;
  margin: auto;
  margin-bottom: 15px;
}

.server.add {
  background-color: #36393f;
  border-radius: 26px;
}

.server.add svg {
  font-size: 1.2em;
  margin-top: 13px;
  color: white;
}

.server:hover {
  cursor: pointer;
}

.server img {
  width: 100%;
  height: 100%;
}

nav {
  width: 72px;
  float: left;
}

.wrap {
  height: 100%;
  display: grid;
  border-radius: 8px 0 0;
  background-color: #36393f;
  overflow-y: auto;
}

.wrap .header-content {
  height: 48px;
    padding: 0 8px;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    color: #dcddde;
    display: flex;
}

.wrap .header-content {
  line-height: 40px;
}

.wrap .wrap-content:before {
  content: "";
  display: block;
  left: 72px;
  right: 0;
  height: 1px;
  z-index: 1;
  pointer-events: none;
  -moz-box-shadow: 0px 1px 1px 0px rgba(4, 4, 5, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(4, 4, 5, 0.2);
  -o-box-shadow: 0px 1px 1px 0px rgba(4, 4, 5, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(4, 4, 5, 0.2);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(4, 4, 5, 0.2), Direction=180, Strength=1);
}

.wpeo-table.table-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
}

.wpeo-table.table-flex .table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.wrap .wpeo-table.table-flex .table-header .table-cell {
    text-transform: uppercase;
    color: white;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.4;
}

.wrap .wpeo-table.table-flex.table-task .table-header .table-cell {
    color: black;
}

.wpeo-table.table-flex .table-cell.table-25 {
    max-width: 25px;
    min-width: 25px;
}

.wpeo-table.table-flex .table-cell.table-300 {
    max-width: 300px;
    min-width: 300px;
}

.wpeo-table.table-flex .table-cell.table-50 {
    max-width: 50px;
    min-width: 50px;
}

.wpeo-table.table-flex .table-cell.table-100 {
    max-width: 100px;
    min-width: 100px;
}

.wpeo-table.table-flex .table-cell.table-150 {
    max-width: 150px;
    min-width: 150px;
}

.wpeo-table.table-flex .table-cell.table-75 {
    max-width: 75px;
    min-width: 75px;
}

.wpeo-table.table-flex .table-cell.table-200 {
    max-width: 200px;
    min-width: 200px;
}

.wpeo-table.table-flex .table-cell {
    margin: auto 0;
    width: 100%;
    padding: 0.8em 0.6em;
}

.wrap .wpeo-table.table-flex {
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wrap .wpeo-table.table-flex .table-column {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.wrap .wpeo-table.table-flex .table-column .table-row:not(.table-header) {
    background: none;
    -ms-flex-line-pack: center;
    align-content: center;
}

.wrap .wpeo-table.table-flex .table-column .table-row:not(.table-header) .table-cell {
    margin: 0;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrap .wpeo-table.table-flex .table-column .table-row:not(.table-header) .table-cell .table-cell-container {
    margin: auto;
}

.wrap .wpeo-table.table-flex .task-content .table-cell-container, .tm-wrap .wpeo-table.table-flex .project-name .table-cell-container {
    margin-left: 0 !important;
    width: 100%;
    height: 20px;
}

.wrap .wpeo-table.table-flex .column-extend {
    padding: 2em;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}

.wrap .wpeo-table.table-flex.table-comments {
    width: 100%;
}

.wrap .wpeo-table.table-flex.table-comments .table-row:not(.table-header) .table-cell {
    background: rgba(0,0,0,0.1);
}

.wrap .wpeo-table.table-flex.table-task .table-column {
    border-left: 1px solid rgba(0,0,0,0.1);
}

.wrap .wpeo-table.table-flex.table-comments .table-column {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.wrap .wpeo-table.table-flex .table-column {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.wrap .wpeo-table.table-flex.table-task .table-column {
    border-left: 1px solid rgba(0,0,0,0.1);
}
